.main {
  background: #fff;
  box-shadow: 0px 4px 27px 0px rgba(230, 231, 234, 0.78);
  width: max-content;
  margin-top: clamp(30px, 8vw, 186px);
  margin-left: clamp(20px, 9vw, 148px);
  padding-top: 23px;
  padding-left: clamp(20px, 5vw, 78px);
  padding-right: clamp(20px, 5vw, 78px);
  padding-bottom: 12px;
}
